html {
    font-size: 62.5%;
}

body {
    background: #151b1a;
    font-family: Noto Sans, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 1px;
    min-height: 100vh;
    font-size: 1.6rem;
}


/* ----- header css starts here ----- */

nav {
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* ----- header css ends here ----- */


/* ----- block database content css starts here ----- */

.uploadform {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 25px;
    background: rgb(238, 238, 238);
    .form-control-file {
        padding: 1rem;
    }
}

.main-content {
    width: 80%;
    margin: auto auto 10rem auto;
}

.blocks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image {
        margin: 2rem;
        img {
            width: 77.5px;
            height: 80px;
            transform: scale(1);
            transition: all 1s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


/* ----- block database content css ends here----- */


/*------------table content css-----------*/

.table {
    table-layout: fixed;
    width: 100%;
    margin-top: 15px;
    .col-content {
        color: white;
        word-wrap: break-word;
        &:hover {
            background-color: #666;
            padding-top: 5px;
        }
    }
}

.table th,
.col-header {
    border-bottom: 1px dashed #666;
}

.table td,
.table th {
    border-top: 1px solid transparent !important;
    border-left: 1px dashed #666;
    padding-left: .5rem;
    padding: .5rem;
    font-size: x-small;
}

.rotate {
    color: white;
    text-align: center;
    height: 105px;
    white-space: nowrap;
    transform: /* Magic Numbers */
    translate(26px, 35px) rotate(-90deg);
}


/*------------table content css-----------*/


/* ----- buttons css starts here----- */

.submit-btn {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.disabled {
    pointer-events: none;
}


/* ----- buttons css ends here ----- */


/* ----- messages css starts here ----- */


/* ----- messages css ends here ----- */

@media only screen and (max-width: 1200px) {
    .main-content {
        width: 100%;
    }
}

@media only screen and (max-width: 620px) {
    body {
        font-size: 1.3rem;
    }
    .main-content {
        width: 100%;
    }
}