html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(141deg, #454747 0%, #141718 51%, #151b1a 75%);
    font-family: Noto Sans, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 1px;
    min-height: 100vh;
    font-size: 1.6rem;
}


/* ----- header css starts here ----- */

nav {
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* ----- header css ends here ----- */


/* ----- form content css starts here ----- */

.uploadform {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 25px;
    background: rgb(238, 238, 238);
    .form-control-file {
        padding: 1rem;
    }
}

.main-content {
    width: 80%;
    margin: auto auto 10rem auto;
}

.blocks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image {
        overflow: hidden;
        margin: 3rem;
        img {
            width: 155px;
            height: 160px;
            transform: scale(1.1);
            transition: all 1s;
            &:hover {
                transform: scale(1.01);
            }
        }
    }
}


/* ----- form content css ends here----- */


/*------------table content css-----------*/

.table {
    color: white;
    table-layout: fixed;
    width: 100%;
    .col-header {
        border: 1px solid black;
    }
    .col-content {
        word-wrap: break-word;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}


/*------------table content css-----------*/


/* ----- buttons css starts here----- */

.submit-btn {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.disabled {
    pointer-events: none;
}


/* ----- buttons css ends here ----- */


/* ----- messages css starts here ----- */


/* ----- messages css ends here ----- */

@media only screen and (max-width: 1200px) {
    .main-content {
        width: 100%;
    }
}

@media only screen and (max-width: 620px) {
    body {
        font-size: 1.3rem;
    }
    .main-content {
        width: 100%;
    }
}